@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
}

.header{
	background-color: #fff;
	padding-left: 2rem;
}

.layout-main {
	margin: 0;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: start;
	position: fixed;
	gap: 2rem;
	width: 15%;
	height: 100%;
	padding: 1% 0% 0% 0%;
	background-color: #b5b5b5;
	color: #fff;
}

.sidebar-link {
	width: 1rem;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #1c1129e0;
	padding: 1rem;
}

.logo-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	background: #ffffff;
	border: 1px solid #000000b4;
}

.logo-icon svg {
	width: 2rem;
	height: 2rem;
}

.menu-bar {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 1rem;
	height: 82.3vh;
	margin-top: 1rem;
	position: relative;
}

.toggle-theme-btn {
	width: 100%;
	height: 50px;
	padding: 0 0 1rem 1rem;
}

.toggle {
	margin-left: 0;
}

.to-do-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	margin-top: 5%;
	width: 100%;
}

.to-do {
	display: flex;
	justify-content: center;
	align-items: start;
	width: 100%;
	height: 100%;
	gap: 1rem;
}

.task-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 1rem;
}

.ant-card-body {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#day,
#night {
	border: 0;
	font-size: 1rem;
	font-weight: 500;
	font-family: "Lato", sans-serif;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
}

.dashboard {
	display: flex;
	justify-content: center;
	align-items: start;
	width: 100%;
	height: auto;
	gap: 1rem;
}

.dashboard-container {
	display: flex;
	justify-content: center;
	align-items: start;
	width: 100%;
	gap: 1rem;
}

.dashboard-card{
	cursor: pointer;
	border-radius: 3rem;
	padding: 1rem;
	width: 100%;
	height: auto;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.04) !important;
	transition: 0.3s;
}

.dashboard-card:hover{
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2) !important;
	scale: 1.03;
}

.dashboard-card p{
	font-size: 1.2rem;
	font-weight: 500;
	font-family: "Lato", sans-serif;
	color: #000000d0;
	border-bottom: 1px solid #b5b5b521;
}